/*
headerbar {
    min-height: 28px;
    padding-left: 2px;
    padding-right: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 2px;
    margin-bottom: 2px;
}

.default-decoration {
    min-height: 0;  let the entry and button drive the titlebar size
    padding: 2px
}

.default-decoration .titlebutton {
    min-height: 26px;
    min-width: 26px;
}

window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}*/

VteTerminal,
vte-terminal {
    padding: 15px;
}

